{% extends 'base.html' %}

{% block title%}Welcome{% endblock %}

{% block content %}
    <h1>Welcome to Meeting Planner !</h1>
    <p>
        There are currently {{num_meetings}} meetings in the database.
    </p>
    
    <h2>Meetings</h2>
    <ul>
        {% for meeting in meetings %}
            <li>
                <a href="{% url 'detail' meeting.id %}">{{meeting.title}}</a>
            </li>
        {% endfor%}
    </ul>
    <h3><a href="{% url 'rooms' %}">Rooms List</a></h3>
    
{% endblock %}